/* Global */

body {
  font-family: Kollektif;
}

h1 {
  color: #686868;
  font-size: 12vw;
}

h3 {
  font-size: 65px;
}

.ib {
  display: inline-block;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  text-align: center;
}

.containerRight {
  text-align: right;
}

.example-feature-image {
  width: 40vw;
  height: 25vw;
}

.feature-small-text {
  font-size: 5vw;
}

.button {
  font-family: Kollektif;
  background-color: white;
  border: 5px solid #D8D8D8;
  border-radius: 10px;
  outline: none;
  font-size: 50px;
  padding: 8px;
  position: relative;
  display: block;
  top: -100px;
  transition-duration: 200ms;
  width: 260px;
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: #443E3E;
  color: white;
  border: 5px solid #443E3E;
  transform: scale(1.025);
}

.example-image {
  width: 67.5vw;
  height: 40vw;
}

.button2 {
  font-family: Kollektif;
  background-color: white;
  color: #5084DA;
  border: 5px solid #5084DA;
  border-radius: 10px;
  outline: none;
  font-size: 50px;
  padding: 8px;
  display: block;
  transition-duration: 200ms;
  margin: 0 auto;
  position: relative;
  top: -25px;
  width: 85px;
  text-decoration: none;
}

.button2:hover {
  background-color: #443E3E;
  color: white;
  border: 5px solid #443E3E;
  transform: scale(1.025);
}

.button3 {
  font-family: Kollektif;
  background-color: #5084DA;
  color: white;
  border: 5px solid #5084DA;
  border-radius: 10px 5px 30px 10px;
  outline: none;
  font-size: 40px;
  padding: 8px;
  display: block;
  transition-duration: 200ms;
  margin: 0 auto;
  float: right;
  margin-right: 5px;
  position: relative;
  top: 4px;
  width: 65px;
  text-decoration: none;
}

.button3:hover {
  background-color: #443E3E;
  color: white;
  border: 5px solid #443E3E;
  transform: scale(1.025);
}

.marg-left {
  margin-left: 100px;
}

.marg-right {
  margin-right: 100px;
}

#WIcon {
  display: inline;
  font-size: 6vw;
}

#WDeg {
  display: inline;
  font-size: 8vw;
}

#WLabel {
  font-size: 2vw;
}

.everest-font {
  font-family: 'Rubik', sans-serif !important;
}

/* Header */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0 5px 15px -5px #00000070;
  border-radius: 0 0 30px 30px;
  z-index: 1;
}

#logo {
  width: 50px;
  height: 50px;
  position: relative;
  top: 12.5px;
  left: 12.5px;
}

#OrbitProjectsTitle {
  position:relative;
  left: 20px;
  top: -2px;
}

.home {
  font-size:25px;
  position: relative;
  top:-2px;
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
}

.home:hover {
  color: #31a6ff;
}

.instagram {
  font-size:25px;
  position: relative;
  top:-2px;
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
}

.instagram:hover {
  color: #8E44AD;
}

/* Our Team */

.our-team {
  text-align: center;
}

.icon {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

.ben {
  text-align: left;
  padding-left: 100px;
}

.web-link {
  font-size: 50px;
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
}

.bb .web-link:hover {
  color: #31a6ff;
}

.dm .web-link:hover {
  color: #16A085;
}

/* Colours */

.orange {
  margin-left: 100px;
  height: 100px;
  width: 100px;
  border-radius: 45px;
  background-image: linear-gradient(#F3845C, #FEB958);
}

.grey {
  margin-left: 100px;
  height: 200px;
  width: 100px;
  border-radius: 45px;
  background-image: linear-gradient(#34495E, #212F3D);
}

.green {
  margin-left: 100px;
  height: 200px;
  width: 100px;
  border-radius: 45px;
  background-image: linear-gradient(#38DC9C, #20876F);
}

.blue {
  margin-left: 100px;
  height: 200px;
  width: 100px;
  border-radius: 45px;
  background-image: linear-gradient(#31c7ff, #31a6ff);
}

.side-orange {
  margin-right: 200px;
  height: 100px;
  width: 250px;
  border-radius: 45px;
  background-image: linear-gradient(to right, #F3845C , #FEB958);
}

.side-grey {
  margin-left: 200px;
  height: 100px;
  width: 250px;
  border-radius: 45px;
  background-image: linear-gradient(to right, #34495E, #212F3D);
}

.side-green {
  margin-left: 200px;
  height: 100px;
  width: 250px;
  border-radius: 45px;
  background-image: linear-gradient(to right, #38DC9C, #20876F);
}

.side-blue {
  margin-right: 200px;
  height: 100px;
  width: 250px;
  border-radius: 45px;
  background-image: linear-gradient(to right, #31c7ff, #31a6ff);
}

.purpletext {
  color: #551A8B;
}

/* Dropdown Menu */

.dropbtn {
  color: black;
  border: none;
  background: none;
  position: relative;
  top:3.5px;
  font-size: 45px;
  transition-duration: 200ms;
  outline: none;
}

.dropdownmenuicon:hover {
  color: #38DC9C;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition-duration: 200ms;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */

.footer {
  left: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 15px -5px #00000070;
  z-index: 1;
}

.footer-icon {
  width: 50px;
  height: 50px;
}

/* Other */

.lh {
  line-height: 0px;
}

.floatr {
  float: right;
}

.line {
  height: 10px;
  width: 10%;
  border-radius: 3px;
  background-color: #31a6ff;
}

.orbit-newtab {
  text-align: right;
}

.check {
  text-align: left;
}

.clear {
  clear: both;
}

.orbitnewtab-button {
  border-radius: 0 0 10px 10px;
}

.homepage-button {
  border-radius:10px 10px 0 0;
}

.title-text {
  margin-top: 100px;
  font-size: 75px;
}

.feature-text {
  margin-left: 100px;
}

/* Spaces */
.space {
  width: 10px;
}

.space1 {
  width: 500px;
}

.nav-space13 {
  width: 5px;
}

.nav-space50 {
  width: 50px;
}

.nav-space {
  width: 15px;
}

.left, .right {
  width: 50%;
}

.row2 {
  display: flex;
}

.column2 {
  flex: 33.33%;
}

.column8 {
  flex: 100%;
}

.product-title {
  font-size: 50px;
  position: relative;
  top: -70px;
}

/* Checkbox */
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #F5B7B1;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  transition: .5s;
  margin-left: 100px;
}

input:checked[type="checkbox"] {
  background: #82E0AA;
}

input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

input:checked[type="checkbox"]:before {
  left: 20px;
}

/* Font */

#quoteText {
  font-size: 1.5vw;
  margin-left: auto;
  margin-right: auto;
}

#QuoteAuthor {
  opacity: 0;
  font-size: 1vw;
}

.floatUp {
  animation: floatUp 0.5s;
  transform: translateY(-50px);
}

.floatDown {
  animation: floatDown 0.5s;
  transform: translateY(0px);
}

.quoteAuthorAppear {
  animation: quoteAuthorAppear 0.5s;
  opacity: 1 !important;
}

.quoteAuthorFade {
  animation: quoteAuthorFade 0.5s;
  opacity: 0 !important;
}

@keyframes floatUp {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes quoteAuthorAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes quoteAuthorFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: Kollektif;
  src: url(font/Kollektif.ttf);
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }

  .orbit-newtab {
    text-align: center !important;
  }

  .margin-none {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .style {
    margin-left: 0px !important;
  }

  .check {
    text-align: center !important;
  }

  .bb {
    margin-bottom: 50px;
  }

  .line2 {
    height: 10px;
    width: 40%;
    border-radius: 3px;
    background-color: #34495E;
    margin-bottom: 50px;
  }

  .web-link {
    position: relative;
    top: -30px;
  }

  .lh {
    font-size: 45px;
    padding: 0;
    margin: 0px;
    line-height: 50px;
  }

  .move {
    position: relative;
    top: 50px;
  }

  .margin {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .button {
    display: inline-block !important;
    float: none !important;
  }

  .footer {
    border-radius: 0px 0px 25px 25px;
  }

  .nav-space13 {
    width: 6px;
  }

  .nav-space50 {
    width: 20px;
  }

  .nav-space {
    width: 4px;
  }

  .dropdown-content a {
    padding: 25px 16px;
  }

  .orbitnewtab-button {
    border-top: 1px solid grey;
  }

  .homepage-button {
    border-bottom: 1px solid grey;
  }

  #timeDisplay {
    font-size: 50px !important;
  }

  #dateDisplay {
    font-size: 25px !important;
  }

  #WIcon {
    font-size: 40px;
  }

  #WDeg {
    font-size: 50px;
  }

  #WLabel {
    font-size: 25px;
  }

  #quoteText {
    font-size: 25px;
  }

  #QuoteAuthor {
    font-size: 15px;
  }

  .side-blue, .side-green, .side-orange, .side-grey {
    width: 150px !important;
  }
}

@media screen and (max-width: 1300px) {
  .button {
    position: relative;
    top: -30px;
  }
}
